
    * { box-sizing: border-box; }
    html, body { height: 100%; }
    body {
      margin: 0;
      font-family: "Times New Roman", Times, serif;
      font-size: 16px;
      background: white;
      color: #000;
      line-height: 1.4;
    }

    
    header {
      background: #EAEAEA;
      padding: 4px 12px 2px 12px;
    }
    header h1 {
      margin: 0px 0 32px 0;
      font-size: 24px;
      font-weight: bold;
    }


    .layout {
      padding: 2 12px 60px 12px;
    }
    aside.left {
      float: left;
      width: 200px;
      background: #C8FC98;
      padding: 0px;
      min-height: 600px;
      font-size: 15px;
      padding-left: 12px;
    }
    aside.left p.mt0 {
      margin-top: 0;
      padding-top: 0;
    }
    aside.left b i {
      color: red;
    }

    section.content {
      margin-left: 200px;
      padding-left: 20px;
    }
    section.content i {
      color: red;
      font-style: italic;
    }

    
    footer.footer {
      position: fixed;
      left: 0; right: 0; bottom: 0;
      background: #000;
      text-align: center;
      padding: 8px 10px;
    }
    footer.footer a {
      color: #FFFF80;
      text-decoration: none;
      font-weight: bold;
    }
    footer.footer a:hover { text-decoration: underline; }

    .mt0 { margin-top: 0; }