@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}
<h2>Calc Service Demonstration</h2>
<ul>
    <li><a href="@Url.Action("PassUsingModel")">Using Model Calc</a></li>
    <li><a href="@Url.Action("PassUsingViewData")">Using ViewData Calc</a></li>
    <li><a href="@Url.Action("PassUsingViewBag")">Using ViewBag Calc</a></li>
    <li><a href="@Url.Action("AccessServiceDirectly")">Using Service Injection Calc</a></li>
</ul>
